<!DOCTYPE html>
<html>
<head lang="es">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ATLAS</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> 
	<!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" href="css/openlayers/style.css" type="text/css">
      <link rel="stylesheet" href="css/openlayers/style0.css" type="text/css">
      <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
      <script src="http://dev.openlayers.org/OpenLayers.js"></script>   

      <link href="css/material/roboto.min.css" rel="stylesheet">
      <link href="css/material/material.min.css" rel="stylesheet">
      <link href="css/material/ripples.min.css" rel="stylesheet">
      <!-- Dropdown.js -->
      <link href="http://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

      <script type="text/javascript">



      var map;

      function init() {
        map = new OpenLayers.Map({
          div: "map",
          projection: new OpenLayers.Projection("EPSG:900913")
        });

        var gmap = new OpenLayers.Layer.Google("Google Streets");
        var wmsGeoMun = new OpenLayers.Layer.WMS("Capitales Municipales",
         "http://geo.gob.bo/geoserver/fondos/wms",
         {'LAYERS': 'fondos:CapitalesMunicipales'});

        map.addLayers([wmsGeoMun, gmap]);

        map.addControl(new OpenLayers.Control.LayerSwitcher());

        map.setCenter(
          new OpenLayers.LonLat(-64.32326233599991,-19.123214168999937).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
            ), 
          15
          );
      }


      </script>



    </head>
    <body ng-app="app" ng-controller="MainController as main" onload="init()">
     <div class="container">

     

    <h1 class="header">{{ main.title }}</h1>


<div class="navbar navbar-material-light-blue-300">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0)">Inicio</a>
  </div>
  <!--<div class="navbar-collapse collapse navbar-material-light-blue-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:void(0)">Opción 1</a></li>
      <li><a href="javascript:void(0)">Opción 2</a></li>      
    </ul>
    
  </div>-->
</div>
      

      <div class="row">
       <div class="col-md-6">
        <div class="input-group">
         <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="main.searchInput">
      </div>


      <table class="table table-striped table-hover " >
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="show in main.shows | filter:main.searchInput | orderBy:main.order.key:main.order.reverse">
            <td><span class="glyphicon glyphicon-star" ng-if="show.favorite"></span>
        {{ show.title }}</td>
            <td><span class="badge">{{ show.year }}</span></td>
        </tr>       
       
    </tbody>
</table>



      <div class="well page" id="dropdown-menu">

        <h3 class="header">Seleccione la ordenación</h3>

        <div class="sample">
          <select class="form-control pull-right" ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>


          <br>

        </div>
        <br>

      </div>




    </div>
    <div class="col-md-6">

      <div id="map" class="smallmap"></div>


      <h3>Adicione un nuevo dato</h3>
      <form name="main.addForm" class="form" ng-submit="main.addShow()">
        <div class="form-group">
         <input type="text" class="form-control floating-label" placeholder="Tìtulo" ng-model="main.new.title" required>
       </div>
       <div class="form-group">
         <input type="number" min="1900" max="2050" class="form-control floating-label" placeholder="Año" ng-model="main.new.year" required>
       </div>

       <div class="row">
         <div class="col-xs-6 checkbox">
          <label> <input type="checkbox" ng-model="main.new.favorite"> Favorito</label>


        </div>
        <div class="col-xs-6">
          <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Adicionar </button>
        </div>
      </div>
      




   </form>

 </div>
</div>



</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="http://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>

    <!-- Material Design for Bootstrap -->
    <script src="js/material/material.min.js"></script>
    <script src="js/material/ripples.min.js"></script>


<script src="app.js"></script>
<script>
$.material.init();
$(document).ready(function() {

  $("#dropdown-menu select").dropdown();
});
</script>



</body>
</html>